body{
    background-color: #0079AA;
    margin: 20px;
    
}
/*navbar*/
ul{
    display: inline;
    
}
li{
    display: inline-flex;
      
}

.nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;  
}



a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    max-width: 100%;
}

  
  a:visited {
    color: #ffffff;
  }
  
  a:hover {
   
   width: 100%;
   border-bottom: 2px solid white ;
  }
 /*1st div*/ 

p{
    color: white;
    font-size: 20px;
    
}


.secPhoto{
    width:40% ;
    max-height: 40%;
    object-fit: cover;
    float: left;
    margin-top: 150px;
    margin-left:40px ;
    border: 1px solid #ffffff;
    
}

.abc{

    width: 100%;
    margin-left:40px ;
}


.thirdPhoto{
    width:40% ;
    max-height: 40%;
    object-fit: cover;
    float: right;
    margin-top: 200px;
    margin-right: 40px;
    border: 1px solid #ffffff;
    
    
}

.ForthPhoto{
    width:40% ;
    max-height: 40%;
    object-fit: cover;
    float: left;
    margin-top: 250px;
    margin-left:40px ;
    border: 1px solid #ffffff;
}
.FifthPhoto{
    width:36% ;
    max-height: 70vh;
    object-fit: cover;
    float: right;
    margin-top: 250px;
    margin-right: 40px;
    border: 1px solid #ffffff;
    
    
}

